{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Touch Gestures Prototype</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/hammer.min.js' %}"></script>
	<script src="{% static '/vendors/hammer/jquery.hammer.js' %}"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta name="viewport" content="width=device-width, user-scalable=no" />

	<style type="text/css">
		body {
			margin:0;
			padding:0;
		}

		.box-container {
			display: flex;
			flex-wrap: wrap;
		}

		.large-box {
			width: 100%;
			height: 300px;
			background: #0d124a;
			padding: 5px;
			margin: 0 10px 10px 0;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.small-box {
			width: 100px;
			height: 100px;
			background: #7ce6df;
			display: flex;
			align-items: center;
			justify-content: center;
		}

		.action-complete {
			background: #ffffff;
		}
	</style>

</head>

<body>
	<div class="container-fluid">
		<div class="row">
			<div class="col-12">
				<h3>Task 4</h3>
				<div class="box-container">
					<div class="large-box">
						<div class="small-box" id="rotate-box">Rotate</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pinch-box">Pinch</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="press-box">Press</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="pan-box">Pan</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="tap-box">Tap</div>
					</div>
					<div class="large-box">
						<div class="small-box" id="swipe-box">Swipe</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
    //var tapb = document.getElementById('tap-box');
    //var swib = document.getElementById('swipe-box');
    
    //Rotate
    var rotb = document.getElementById('rotate-box');
    var rm = new Hammer.Manager(rotb);
    var rotate = new Hammer.Rotate();
    rm.add([rotate]);
    rm.get('rotate').set({enable: true}); 
    rm.on("rotate", function() {
      rotb.style = "color: red; font-weight: bold";
      rotb.textContent = "Rotated!";
      rotb.style.transform = "rotate(45deg)";
      rotb.style.backgroundColor = "white";
    });
    
    //Pinch
    var pinb = document.getElementById('pinch-box');
    var pm = new Hammer.Manager(pinb);
    var pinch = new Hammer.Pinch();
    pm.add([pinch]);
    pm.get('pinch').set({enable: true}); 
    pm.on("pinch", function() {
      pinb.style = "color: red; font-weight: bold";
      pinb.textContent = "Pinched!";
      pinb.style.transform = "scale(1.5)";
      pinb.style.backgroundColor = "white";
    });
    
    //Press
    var preb = document.getElementById('press-box');
    var prem = new Hammer(preb);
    prem.on("press", function() {
      preb.style = "color: red; font-weight: bold";
      preb.textContent = "Pressed!";
      preb.style.backgroundColor = "yellow";
    });
    
    //Pan
    var panb = document.getElementById('pan-box');
    var panm = new Hammer(panb);
    panm.on("pan", function() {
      panb.style = "color: red; font-weight: bold";
      panb.textContent = "Panned!";
      panb.style.backgroundColor = "white";
    });
    
    //Tap
    var tapb = document.getElementById('tap-box');
    var tm = new Hammer(tapb);
    tm.on("tap", function() {
      tapb.style = "color: grey; font-weight: bold";
      tapb.textContent = "Tapped!";
      tapb.style.backgroundColor = "silver";
    });
    
    //Swipe
    var swib = document.getElementById('swipe-box');
    var sm = new Hammer(swib);
    sm.on("swipe", function() {
      swib.style = "color: black; font-weight: bold; text-decoration: line-through";
      swib.textContent = "Swipped!";
      swib.style.backgroundColor = "white";
    });
    
  </script>
</body>
</html>
